/************************************************************************************
RESET
*************************************************************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, anchor { 
    display: block;
}
/************************************************************************************
GENERAL STYLING
*************************************************************************************/
@font-face {
font-family: 'SketchRockwell';
src: url('SketchRockwell-Bold.eot?') format('eot'),
url('SketchRockwell-Bold.woff') format('woff'),
url('SketchRockwell-Bold.ttf') format('truetype');
}
@charset "utf-8";
html {
	background:url('images/bg4.jpg');
	background-repeat:repeat;
}
body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
}
h1 {
	font-family: SketchRockwell;
	font-size:36px;
	text-shadow: 3px 3px 5px #FFBF55;
	font-variant:small-caps;
}
h2 {
	font-family: SketchRockwell;
	font-size:24px;
	text-shadow: 3px 3px 5px #FFBF55;
	font-variant:small-caps;
}
p {
	margin: 5px 0px;
}
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	margin:5px auto;
}
.video embed, .video object, .video iframe {
	width: 100%;
	height: auto;
}
a img {
	border: none;
}
a:link,a:visited {
	text-decoration: underline;
	color: #000;
	font-variant:normal;
}
a:hover, a:active, a:focus{
	font-variant:normal; 
	text-decoration:none;
	color: #000;
	background-repeat:
}
.images {
	float:left;
	width:100%;
}
	.images img {
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		-ms-transition: opacity 1s ease-in-out;	
		transition: opacity 1s ease-in-out;
	}
	.images img:hover{
		opacity:0.7;
	}
/************************************************************************************
BACKGROUND
*************************************************************************************/
.banner {
	background:#FFBF55;
	width:100%;
	height:25px;
	position:absolute;
	z-index: 0;
	opacity:0.9;
  	filter:alpha(opacity=90);
}
.gradient {
	width:100%;
	height:110%;
	position:fixed;
	top:-10px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));/* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);  /* Chrome,Safari4+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	position:relative;
	z-index:1;
	width: 970px;
	margin: 10px auto 0px auto;
	background:#FFF;
}
/************************************************************************************
MAIN-NAVIGATION
*************************************************************************************/
#main-nav{
	width:inherit;
	position:fixed;
	z-index:100;
	opacity:0.9;
	filter:alpha(opacity=90);
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(150,150,150,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(150,150,150,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
}
	#main-nav ul{
		margin:0;
		padding:0;
	}
		#main-nav ul li {
			height:25px;
			list-style: none;
			float: left;
			border-right:1px solid #777;
			border-left:1px solid #FFF;
			opacity:0.9;
			filter:alpha(opacity=90);
			background: rgb(224,224,224); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(150,150,150,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(150,150,150,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* IE10+ */
			background: linear-gradient(top, rgba(224,224,224,1) 0%,rgba(150,150,150,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
		}
		#main-nav ul li:first-child{
			border-left:none;
		}
	#main-nav a {
		line-height: 100%;
		display: block;
		padding: 5px 15px 7px 15px;
		text-decoration: none;
	}
	#main-nav a:link,a:visited {
		text-decoration: none;
		text-shadow: 1px 1px white, -0.5px -0.5px #111;
		font-variant:small-caps;
		color: #000;
	}
	#main-nav a:hover {
		background: rgb(150,150,150); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(150,150,150,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,150,150,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	}
	#main-nav #at {
		background: rgb(150,150,150); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(150,150,150,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,150,150,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(150,150,150,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	}
/************************************************************************************
CONTENT
*************************************************************************************/
#content {
	padding:0px 15px 0px 45px;
	width: 649px;
	float: left;
	border-right: dashed 1px #BBB;
}
	#content .post{
		border-top: dashed 1px #BBB;
	}

#sidebar {
	padding-right:5px;
	width: 255px;
	float: right;
}
	#sidebar .widget{
		padding-right: 10px;
		margin: 0px 10px;
		margin-bottom:10px;
		border-bottom: dashed 1px #BBB;
		overflow-y:scroll;
		overflow-x:hidden;
		max-height:300px;
		min-height:200px;
	}
#anchor {
	clear: both;
	padding-bottom:20px;
}

#footer {
	position:relative;
	z-index:1;
	width: 970px;
	margin: 10px auto 20px auto;
	overflow:hidden;
}
/************************************************************************************
Special effects
*************************************************************************************/
.bannerLeft{
	width:50%;
	background:#FFBF55;
	height:0px;
	float:left;
	border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    border-right: 20px solid #FFF;
}
.bannerRight{
	width:30px;
	background:#FFBF55;
	height:0px;
	float:right;
	border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    border-left: 20px solid #FFF;
}
.shadow{
	-webkit-box-shadow: 1px 1px 5px 1px rgba(68, 68, 68, 0.6);
	-moz-box-shadow: 1px 1px 5px 1px rgba(68, 68, 68, 0.6);
	box-shadow: 1px 1px 5px 1px rgba(68, 68, 68, 0.6);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track { 
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background: rgba(255,255,255,1); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,191,85,1);  
}
/************************************************************************************
Responsive adjustment
*************************************************************************************/
@media screen and (max-width: 1024px) {
	#pagewrap {
		width: 95%;
	}
	#content {
		width: 66%;
		padding:0px 1.5% 0px 5%;
	}
	#sidebar {
		width: 26%;
	}
	#footer {
		width: 95%;
	}
}
@media screen and (max-width: 640px) {
	#main-nav {
		width:auto;
		position:static;
		background:transparent;
	}
	#main-nav ul{
		list-style-type: none;
		text-align: center;
		padding-top:10px;
	}
	#main-nav ul li {
		float:none;
		display:inline-block;
		margin: 3px;
		padding: 0px;
		border: none;
	}
	#content {
		padding:0px 5% 0px 5%;
		height:inherit;
		width: auto;
		float: none;
		border-right: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}
	#sidebar .widget{
		border: dashed 1px #BBB;
		overflow:visible;
		height:auto;
		max-height:none;
		min-height:none;
		padding-left:10px;
	}
	.bannerLeft{
		float:none;
}
}

@media screen and (max-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
	}
}
